# references: https://lorenzomiscoli.com/automating-versioning-and-releases-using-semantic-release/
name: Semantic Release
on:
  push:
    branches:
      - main

  workflow_call:
    outputs:
      release_version: 
        description: 'The version of the release'
        value: ${{ jobs.semantic-release.outputs.release_version }}

jobs:
  semantic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write 
      issues: write 
      pull-requests: write
      id-token: write
    outputs:
      release_version: ${{ steps.release.outputs.release_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.16.0"

      - name: Install dependencies
        run: | 
          npm install -g \
          semantic-release@24.0.0  \
          @semantic-release/github@10.1.1 @semantic-release/changelog@6.0.3 \
          @semantic-release/git@10.0.1 \
          @semantic-release/exec@5.0.0

      - name: Release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          npx semantic-release
          VERSION=$(cat VERSION.txt)
          echo "Resolved version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
